*{
    margin: 0;   
    padding: 0; 
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
    -webkit-font-smoothing: antialiassed;
    }
    :root {
        --dark-blue:#262E38;
        --ligh-grey:#969FAD;
        --medium-grey:#7C8798;
        --orange:#FC7614;
        --white:#FFF;
        --very-dark-blue:#131518;
        --black-gradient:radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    }
    
    body {
        background-color: var(--very-dark-blue);
        height: 100svh;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .card {
     background: var(--black-gradient);
     max-width: 412px;
     padding: 32px;
     border-radius: 30px;
    }